@import url("./__item/photo-grid__item.css");
@import url("./__items/photo-grid__items.css");

.photo-grid {
    display: flex;
}

/* .photo-grid {
    display: grid; 
    max-width: 288px;
    gap: 12px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 81px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        margin-bottom: 88px;
        grid-template-columns: repeat(2, 352px);
        gap: 14px;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        margin-bottom: 92px;
        grid-template-columns: repeat(3, 300px);
        gap: 16px;
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 284px);
        gap: 14px;
        max-width: 1184px;
    }
} */