.lead__title {
    max-width: 720px;
    max-height: 200px;
    font-family: Inter;
    width: 90%; 
    margin: 0 auto;
    max-width: 288px;
    font-weight: 900;
    line-height: 1.1;
    font-size: 40px;
    padding-bottom: 16px;
}


@media screen and (min-width: 768px) {
    .lead__title {
        max-width: 720px;
        font-size: 96px;
        line-height: 100px;
        padding-bottom: 32px;
    }
} 
