@import url("../../vendor/font.css");

.page {
    min-width: 320px;
    /*max-width: 1280px; */
    background-color: #2A2C2F;
    color: white;
    font-family: Inter;
    text-rendering: optimizeLegibility;
    margin: auto;
}


